/dist
/node_modules
/database/database.sqlite
/public/hot
/public/storage
/public/flags
/public/webfonts
/public/scss
/public/assets
/public/vendors
/public/public
/storage/*.key
/vendor
.idea*
.editorconfig
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.phar
.vscode
